<h2>I AMA Homepage</h2>

<% @links.each do |link| %>
<ul>
  <li><%= link_to link.title, link.url %></li>
  <ul>
    <li><%= link_to "Comments", link %></li>
  </ul>
</ul>
<%end%>
<%= will_paginate @links %>
<%= link_to "New Link", new_link_path%>

